.add-todo {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.02)
}

.todo-form {
    display: flex;
    align-items: center;
}

.add-todo__input {
    flex: 1;
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 .5rem;
    border-radius: .25rem;
}