.add-todo {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.todo-form {
    display: flex;
    align-items: center;
}

.add-todo__input {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 0 0 #ccc;
    height: 44px;
    padding-left: 1rem;
    padding-right: 40px;
    border-radius: .25rem;
    font-size: 18px;
}

.add-todo__input:hover,
.add-todo__input:focus-visible {
    outline: 0;
    border-color: #8f8f8f;
}